
.home-container {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  background-color: #121212;
  overflow-x: hidden;
}

.hero-banner {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(18,18,18,0.9), rgba(18,18,18,0.5));
  backdrop-filter: blur(2px);
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 800px;
  padding: 32px;
}

.hero-content h1 {
  font-size: 72px;
  font-weight: 700;
  text-transform: uppercase;
}

.hero-content p {
  font-size: 24px;
  margin-top: 16px;
}

.cta-button {
  margin-top: 32px; 
  background: linear-gradient(to right, #ff007f, #8e2de2);
  color: #fff;
  padding: 16px 40px; 
  font-size: 19px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.cta-button:hover {
  transform: scale(1.05);
  box-shadow: none;
}

.concert-section {
  background-color: #1a1a1a;
  padding: 80px 32px; 
  text-align: center;
}

.concert-section h2 {
  font-size: 45px;
  margin-bottom: 48px; 
  color: #ff007f;
}

.concert-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 32px; 
  max-width: 1200px;
  margin: auto;
}

.concert-card {
  background-color: #2a2a2a;
  border-radius: 15px;
  overflow: hidden;
}


.concert-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.concert-card h3 {
  margin: 16px 0 8px;
  font-size: 21px; 
  color: #fff;
}

.concert-card p {
  margin-bottom: 16px; 
  font-size: 15px;
  color: #ccc;
}

.concert-card button {
  margin-bottom: 24px;
  padding: 10px 24px; 
  background: #ff007f;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.concert-card button:hover {
  background: #ff338f;
}

.news-section {
  background: #101010;
  padding: 80px 32px;
  text-align: center;
}

.news-section h2 {
  font-size: 40px; 
  color: #8e2de2;
  margin-bottom: 48px; 
}

.news-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px; 
}

.news-card {
  background: #1e1e1e;
  color: #fff;
  padding: 32px; 
  border-radius: 15px;
  max-width: 400px;
  border-left: 4px solid #ff007f;
}

.news-card:hover {
  transform: translateY(-5px);
  box-shadow: none;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
