.form-container {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 20px;
  padding: 40px;
  max-width: 700px;
  margin: 50px auto;
  box-shadow: 0 0 25px rgba(255, 0, 128, 0.4), 0 0 35px rgba(0, 128, 255, 0.3);
  color: #fff;
}

.form-container h2 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 40px;
  color: #ff4081;
}

.form-container div {
  margin-bottom: 20px;
}

.form-container label {
  font-size: 18px;
  margin-bottom: 8px;
  display: block;
  color: #ff4081;
}

.form-container input,
.form-container textarea,
.form-container select {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 16px;
}

.form-container input:focus,
.form-container textarea:focus,
.form-container select:focus {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 10px #ff4081;
  outline: none;
}

.form-container select {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.form-container select:focus {
  background-color: rgba(255, 255, 255, 0.3);
  color: #ff4081;
}

.form-container select option {
  background-color: #333;
  color: #fff;
}

.form-container select option:checked {
  background-color: #ff4081;
  color: #fff;
}

.form-container button {
  background: linear-gradient(45deg, #ff4081, #7c4dff);
  padding: 12px 25px;
  border-radius: 30px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
}

.form-container button:hover {
  background: linear-gradient(45deg, #7c4dff, #ff4081);
}

@media (max-width: 768px) {
  .form-container {
    margin: 20px;
    padding: 30px;
  }
  .form-container h2 {
    font-size: 28px;
  }
  .form-container label {
    font-size: 16px;
  }
  .form-container input,
  .form-container textarea,
  .form-container select {
    font-size: 15px;
    padding: 10px;
  }
  .form-container button,
  .btn-cancelar {
    font-size: 16px;
    padding: 12px;
  }
}

@media (max-width: 480px) {
  .form-container {
    margin: 15px;
    padding: 20px;
    border-radius: 15px;
  }
  .form-container h2 {
    font-size: 24px;
    margin-bottom: 25px;
  }
  .form-container label {
    font-size: 14px;
  }
  .form-container input,
  .form-container textarea,
  .form-container select {
    font-size: 14px;
    padding: 8px;
  }
  .form-container button,
  .btn-cancelar {
    font-size: 14px;
    padding: 10px;
  }
}
