<div class="form-container">
  <h2>Gestión de Giras</h2>

  <ul class="gira-lista">
    <li *ngFor="let gira of giras">
      <strong>{{ gira.nombre }}</strong> - {{ gira.descripcion }}
      <div class="botones-acciones">
        <button (click)="seleccionarGira(gira)">Editar</button>
        <button type="button" (click)="eliminarGira(gira.idGira)">Eliminar</button>
      </div>
    </li>
  </ul>

  <hr />

  <div *ngIf="giraSeleccionada; else crear">
    <app-editar-gira 
      [gira]="giraSeleccionada" 
      [artistas]="artistas"
      (giraActualizada)="onGiraActualizada()"
      (cancelarEdicion)="cancelarEdicion()"
    ></app-editar-gira>
  </div>

  <ng-template #crear>
    <app-crear-gira [artistas]="artistas" (giraCreada)="onGiraCreada()"></app-crear-gira>
  </ng-template>
</div>
