<div class="form-container">
  <h2>Gestión de Giras</h2>

  <ul class="gira-lista">
    <li *ngFor="let gira of giras">
      <strong>{{ gira.nombre }}</strong> - {{ gira.descripcion }}
      <div class="botones-acciones">
        <button (click)="editarGira(gira.idGira)">Editar</button>
        <button type="button" (click)="eliminarGira(gira.idGira)">Eliminar</button>
      </div>
    </li>
  </ul>

  <hr />

  <div *ngIf="giraSeleccionada">
    <app-editar-gira></app-editar-gira>
  </div>

  <div *ngIf="!giraSeleccionada">
  <app-crear-gira (giraCreada)="onGiraCreada()"></app-crear-gira>
</div>
</div>
