<div class="conciertos-container">
  <h2>Comprar Entradas</h2>

  <div class="filtros-wrapper">

    <div class="filtro-artista">
      <label>Concierto:</label>
      <input type="text" [value]="entrada.conciertoId + ' - ' + entrada.conciertoNombre" readonly>
    </div>

    <div class="filtro-artista">
      <label>Asientos seleccionados:</label>

      <ng-container *ngIf="hayAsientosSeleccionados; else ninguno">
        <div class="asientos-grid">
          <div *ngFor="let asiento of asientosSeleccionados" class="asiento-item" (click)="onAsientoSeleccionado(asiento)">
            <span class="chip" title="Haz clic para quitar">{{ asiento.nombre }}</span>
          </div>
        </div>
      </ng-container>

      <ng-template #ninguno>
        <input type="text" value="Ningún asiento seleccionado" readonly>
      </ng-template>

      <button class="btn-comprar" (click)="abrirMapaAsientos()">Seleccionar Asientos</button>
    </div>

    <div class="filtro-artista">
      <label>Precio Unitario:</label>
      <input type="text" [value]="precioUnitarioActual + ' €'" readonly>
    </div>

    <div class="filtro-artista">
      <label>Precio Total:</label>
      <input type="text" [value]="entrada.precioVenta + ' €'" readonly>
    </div>

    <div class="filtro-artista">
      <label>Método de Pago:</label>
      <select [(ngModel)]="pago.metodoPago" required>
        <option value="">Seleccionar...</option>
        <option *ngFor="let metodo of ['Tarjeta', 'PayPal', 'Transferencia']" [value]="metodo">{{ metodo }}</option>
      </select>
    </div>
  </div>

  <div class="concierto-card" *ngIf="mostrarPagoTarjeta">
    <h3>Pago con Tarjeta</h3>
    <label>Número:</label>
    <input type="text" [(ngModel)]="datosTarjeta.numero">
    <label>Nombre:</label>
    <input type="text" [(ngModel)]="datosTarjeta.nombre">
    <label>Expiración:</label>
    <input type="month" [(ngModel)]="datosTarjeta.expiracion">
    <label>CVV:</label>
    <input type="text" [(ngModel)]="datosTarjeta.cvv">
  </div>

  <div class="concierto-card" *ngIf="mostrarPagoPaypal">
    <h3>Pago con PayPal</h3>
    <label>Email:</label>
    <input type="email" [(ngModel)]="datosPaypal.email">
  </div>

  <div class="concierto-card" *ngIf="mostrarPagoTransferencia">
    <h3>Transferencia Bancaria</h3>
    <label>Nombre:</label>
    <input type="text" [(ngModel)]="datosTransferencia.nombre">
    <label>IBAN:</label>
    <input type="text" [(ngModel)]="datosTransferencia.iban">
  </div>

  <div class="filtro-buttons">
    <button class="btn-filtrar" (click)="comprarEntradas()">Comprar y Pagar</button>
  </div>
</div>

<app-mapa-asientos
  *ngIf="mostrarModalAsientos"
  [asientos]="asientos"
  [concierto]="{ nombre: entrada.conciertoNombre }"
  [modo]="'user'"
  (asientoSeleccionado)="onAsientoSeleccionado($event)"
  (cerrarModal)="mostrarModalAsientos = false">
</app-mapa-asientos>
 