<!-- gestionar-zona.component.html -->
<div class="gestionar-zona">
  <h2>Gestión de Zonas</h2>

  <!-- Lista de zonas -->
  <ul>
    <li *ngFor="let zona of zonas">
      <strong>{{ zona.nombre }}</strong>
      – Recinto: {{ zona.recintoId }}
      – Precio Base: {{ zona.precioBase }}
      – Precio VIP: {{ zona.precioVIP }}
      <button (click)="seleccionarZona(zona.idZona)">Editar</button>
      <button (click)="eliminarZona(zona.idZona)">Eliminar</button>
    </li>
  </ul>

  <hr />

  <div *ngIf="editarVisible">
    <app-editar-zona></app-editar-zona>
    <button type="button" (click)="cancelarEdicion()">
      Cancelar edición
    </button>
  </div>
</div>
