<div class="container">
  <h2>Crear Artista</h2>
  <form [formGroup]="artistaForm" (ngSubmit)="crearArtista()">
    <div>
      <label>Nombre</label>
      <input type="text" formControlName="nombre" placeholder="Nombre" required>
    </div>
    <div>
      <label>Apellidos</label>
      <input type="text" formControlName="apellidos" placeholder="Apellidos" required>
    </div>
    <div>
      <label>Username</label>
      <input type="text" formControlName="username" placeholder="Usuario" required>
    </div>
    <div>
      <label>Password</label>
      <input type="password" formControlName="password" placeholder="Contraseña" required>
    </div>
    <div>
      <label>Descripción</label>
      <textarea formControlName="descripcion" placeholder="Descripción"></textarea>
    </div>
    <div>
      <label>Género Musical</label>
      <input type="text" formControlName="generoMusical" placeholder="Género musical">
    </div>
    <div>
      <label>Foto</label>
      <input type="file" (change)="onFileSelected($event)" required>
      <div *ngIf="fotoPreview">
        <img [src]="fotoPreview" alt="Previsualización">
      </div>
    </div>
    <button type="submit" [disabled]="artistaForm.invalid">Crear Artista</button>
  </form>
</div>
