<button class="toggle-button" (click)="toggleSidebar()">☰</button>
<div class="sidebar" [class.open]="isSidebarOpen">
  <div class="logo">
      <h1 (click)="navigateToHome()">🎤 CONCERTMANIA</h1>
    </div>
    <ul class="nav-links">
      <li *ngIf="!isLoggedIn()"><a (click)="navigateToLogin()"><i class="fas fa-sign-in-alt"></i> Iniciar sesión</a></li>
      <li *ngIf="!isLoggedIn()"><a (click)="navigateToRegister()"><i class="fas fa-user-plus"></i> Registrarse</a></li>
  
      <li *ngIf="isAdmin()"><a (click)="navigateToArtista()"><i class="fas fa-layer-group"></i> Artista</a></li>
      <li *ngIf="isAdmin()"><a (click)="navigateToGira()"><i class="fas fa-microphone-alt"></i> Giras</a></li>
      <li *ngIf="isAdmin()"><a (click)="navigateToZona()"><i class="fas fa-music"></i> Conciertos</a></li>
      <li *ngIf="isAdmin()"><a (click)="navigateToAsientos()"><i class="fas fa-music"></i> Asientos</a></li>
      <li *ngIf="isAdmin()"><a (click)="navigateToZonasRecinto()"><i class="fas fa-layer-group"></i> Recintos y Zonas</a></li>
  
      <li *ngIf="isUser()"><a (click)="navigateListarArtista()"><i class="fas fa-user-circle"></i> Artistas disponibles</a></li>
      <li *ngIf="isUser()"><a (click)="navigateToComprar()"><i class="fas fa-user-circle"></i> Comprar</a></li>
      <li *ngIf="isUser()"><a (click)="navigateToContacto()"><i class="fas fa-user-circle"></i> Contacto</a></li>
      <li *ngIf="isArtista()"><a (click)="navigateToGestionarAsientos()"><i class="fas fa-chair"></i> Asientos</a></li>
      <li *ngIf="isArtista()"><a (click)="navigateToContacto()"><i class="fas fa-user-circle"></i> Contacto</a></li>

  
      <li *ngIf="isUser()"><a (click)="navigateToPerfil()"><i class="fas fa-user-circle"></i> Mi Perfil</a></li>
      <li *ngIf="isLoggedIn()"><a (click)="logout()"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a></li>
    </ul>
  </div>
  