<div class="gestionar-artista">
  <h2>Gestión de Artistas</h2>

  <ul class="lista-artistas">
    <li *ngFor="let artista of artistas" class="artista-item">
      <div class="info-artista">
        <span class="nombre-artista">
          {{ artista.nombre }} ({{ artista.generoMusical }})
        </span>
      </div>
      <div class="botones-artista">
        <button class="btn-editar" (click)="seleccionarArtista(artista)">Editar</button>
        <button class="btn-eliminar" (click)="eliminarArtista(artista.idArtista)">Eliminar</button>
      </div>
    </li>
  </ul>

  <hr class="divisor" />

  <div *ngIf="artistaSeleccionado">
    <app-editar-artista
    ></app-editar-artista>
  </div>

  <div *ngIf="!artistaSeleccionado">
    <app-crear-artista (artistaCreado)="onArtistaCreado()"></app-crear-artista>
  </div>
</div>
