<div class="container">
  <h2>Añadir Gira</h2>
  <form (ngSubmit)="crearGira()">
    <div>
      <label for="nombre">Nombre de la Gira:</label>
      <input type="text" [(ngModel)]="gira.nombre" name="nombre" required />
    </div>
    <div>
      <label for="descripcion">Descripción:</label>
      <textarea [(ngModel)]="gira.descripcion" name="descripcion" required></textarea>
    </div>
    <div>
      <label for="artista">Seleccionar Artista:</label>
      <select [(ngModel)]="gira.artistaId" name="artista" required>
        <option [ngValue]="null" disabled selected>Seleccione un artista</option>
        <option *ngFor="let artista of artistas" [ngValue]="artista.idArtista">
          {{ artista.nombre }}
        </option>
      </select>
    </div>
    <button type="submit">Añadir Gira</button>
  </form>
</div>
